body {
    height: 100vh;
    width: 100vw;
    background-image: url(./images/star-image.jpg);
    background-size: 100vw 100vh;
    overflow: hidden;
}

h1 {
    display: flex;
    justify-content: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 25px;
    color: white;
    background-image: linear-gradient(to bottom, midnightblue, royalblue);
    height: 3rem;
    width: 98vw;
    border-radius: 10px 10px 10px 10px;
    box-shadow: 10px 10px 10px white;
    opacity: .7;
}

.userSearch {
    border: none;
    outline: none;
    padding: .5em;
    border-radius: 10px 10px 10px 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.button {
    border: none;
    padding: .5em;
    height: 3.1em;
    border-radius: 20px 20px 20px 20px;
    background-color: white;
}

button:hover {
    cursor: pointer;
    background-color: steelblue;
}

h2 {
    display: flex;
    align-items: left;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 17px;
    color: white;
}

.today {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: left;
    padding: 1rem;
    width: 15rem;
    background-image: linear-gradient(to bottom, midnightblue, royalblue);
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border-radius: 20px 20px 20px 20px;
    box-shadow: 10px 10px 10px white;
    opacity: .9;
}

.currentDescription {
    text-transform: capitalize;
}

h3 {
    display: flex;
    justify-content: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    color: white;
    background-image: linear-gradient(to bottom, midnightblue, royalblue);
    height: 3rem;
    width: 98vw;
    border-radius: 10px 10px 10px 10px;
    box-shadow: 10px 10px 10px white;
    opacity: .7;
}

.fiveDayForecast {
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
    width: 97vw;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 12px;
}

.day1 {
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: 5px;
    padding: .3rem;
    background-image: linear-gradient(to bottom, midnightblue, royalblue);
    border-radius: 10px 10px 10px 10px;
    box-shadow: 10px 10px 10px white;
    opacity: .9;
}

.day1Icon {
    height: 25px;
    width: 25px;
}

.day2Icon {
    height: 25px;
    width: 25px;
}

.day3Icon {
    height: 25px;
    width: 25px;
}

.day4Icon {
    height: 25px;
    width: 25px;
}

.day5Icon {
    height: 25px;
    width: 25px;
}

.day2 {
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: 5px;
    padding: .3rem;
    background-image: linear-gradient(to bottom, midnightblue, royalblue);
    border-radius: 10px 10px 10px 10px;
    box-shadow: 10px 10px 10px white;
    opacity: .9;
}

.day3 {
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: 5px;
    padding: .3rem;
    background-image: linear-gradient(to bottom, midnightblue, royalblue);
    border-radius: 10px 10px 10px 10px;
    box-shadow: 10px 10px 10px white;
    opacity: .9;
}

.day4 {
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: 5px;
    padding: .3rem;
    background-image: linear-gradient(to bottom, midnightblue, royalblue);
    border-radius: 10px 10px 10px 10px;
    box-shadow: 10px 10px 10px white;
    opacity: .9;
}

.day5 {
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: 5px;
    padding: .3rem;
    background-image: linear-gradient(to bottom, midnightblue, royalblue);
    border-radius: 10px 10px 10px 10px;
    box-shadow: 10px 10px 10px white;
    opacity: .9;
}